@charset"UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');

/************************************ variables ************************************/

// urls
$background_image: "../images/bg.jpg";
// counts
$number_of_sections: 3;

/* each section has a circle around the avatar */

// lines
$middle_img_contianer_width: 370px;
// z-indexes
$middle_img_z: 10;

/************************************ styles ************************************/

@import "base.scss";
@import "modules.scss";
#nodes-list {
	th, tr {
		text-align: center;
	}
}

#app {
	background: #fff;
	box-shadow: 0 0 20px #ccc;
	border-radius: 4px;
}

#graph-container {
	position: relative;
	.graph-node {
		border-radius: 100%;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

@import "theme.scss";
