@charset"UTF-8";
@font-face {
	font-family: 'Sahel';
	src: url('../fonts/Sahel.eot');
	src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'), url('../fonts/Sahel.woff') format('woff'), url('../fonts/Sahel.ttf') format('truetype')
}


/************************************ variables ************************************/

// urls
$background_image: "../images/bg.jpg";
// counts
$number_of_sections: 3;

/* each section has a circle around the avatar */

// lines
$middle_img_contianer_width: 370px;
// z-indexes
$middle_img_z: 10;

/************************************ styles ************************************/

@import "base.scss";
@import "modules.scss";
#nodes-list {
	th, tr {
		text-align: center;
	}
}

#app {
	background: #fff;
	box-shadow: 0 0 20px #ccc;
	border-radius: 4px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

#nodes-list {
	margin-top: 20px;
	border-top-color: #8fc0dc;
	thead {
		background: #bae0ff;
		th {
			border-color: #8fc0dc;
		}
	}
	td {
		white-space: nowrap;
		>* {
			$height: 35px;
			height: $height !important;
			line-height: $height !important;
		}
	}
	input {
		width: 100%;
		background: transparent;
		border: none;
		display: inline-block;
		&[name=name] {
			display: block;
		}
		&[type=text] {
			&:hover {
				outline: 1px solid #ddd;
				background: #eee;
			}
			&:focus {
				outline: 2px solid #ccc;
				background: #fff;
			}
		}
		&[type=color] {
			padding: 0px;
			height: 25px;
			width: 25px;
			float: left;
		}
	}
	.color-text-input {
		width: 80px;
		direction: ltr;
	}
	.remove-node-button {
		cursor: pointer;
		color: red;
	}
	.add-node-button {
		cursor: pointer;
		color: green;
	}
}

#graph-viewer {
	position: relative;
	#graph-container {
		padding: 0;
		background: #eee;
		border-radius: 4px;
		border: 2px solid #a2b7ca;
		box-sizing: content-box;
	}
	.graph-node {
		@include cursor_grab;
		&:active {
			@include cursor_grabbing;
		}
		&.is-active {
			// opacity: 0.5;
		}
		&.inverted-color text {
			fill: #ffffff;
		}
	}
	#graph-output-json {
		position: absolute;
		top: 0;
		left: 0;
	}
}
